APP_ENV="dev"
APP_NAME="service name"
DB_NAME="db_name"
DB_SERVER="localhost"
DB_USER="postgres"
DB_PASS="pass_db"
DB_PORT=5432
DEBUG=True
SECRET='30EM4p0CYTCO5sYiRCOlhTOeyI7Vpt04j_XufJZC6HPEXulimTEGj2bmzUyUzuCg'
JWT_ALGORITHM='HS256'
JWT_ISSUER='quali-auth'
JWT_AUDIENCE='quali-services'
AUTH_SERVICE_URL='http://localhost:8000'
TOKEN_URL='/auth/token'